
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    /* Primary */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue :hsl(234, 85%, 45%);

    /* Gradients */
    --light-slate-blue-bg: hsl(252, 100%, 67%);
    --light-royal-blue-bg: hsl(241, 81%, 54%);
    --violet-blue-cl: hsla(256, 72%, 46%, 1);
    --persian-blue-cl: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.container {
    background-color: #fff;
}

.container > .summary {
    padding-bottom: 1em;
}


.result {
    /* height: 40vh; */
    outline: 1px solid blue;
    border-radius: 0em 0em 2em 2em;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-inline: 1em;
    color: var(--White);
    background-color: var(--violet-blue-cl);
    background-image: linear-gradient(180deg, var(--light-slate-blue-bg) 0%, var(--light-royal-blue-bg) 100%);
}

.result > h3 {
    color: var(--Light-lavender);
}

.avg-score {
    /* outline: 1px solid blue; */
    /* padding: 1em 1.5em; */
    width: 160px;
    height: 160px;
    border-radius: 50%;
    aspect-ratio: 1;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    background-color: var(--violet-blue-cl);
    background-image: linear-gradient(180deg, var(--light-royal-blue-bg) 40%, var(--light-slate-blue-bg) 100%);
}

.avg-score-no {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0;
    /* outline: 1px solid white; */
}

/* .avg-score-no::after {
    content: '%';
    font-size: .5em;
    font-weight: 600;
    margin-left: .1em;
    outline: 1px solid white;
} */

.avg-score-total {
    font-size: 1em;
    font-weight: 500;
    margin-top: 0;
    color: var(--Light-lavender);
    /* outline: 1px solid white; */
}

.paragraph-one {
    padding-inline: .4em;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--Light-lavender);
}
    
    .summary {
        padding-inline: 2em;
        width: auto;
    }

    .summary > h4 {
        font-size: 18px;
        font-weight: 800;
    }

    .summary > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 1em;
        border-radius: .8em;
        margin-bottom: 1em;
        /* outline: 1px solid blue; */
    }

    /* .summary > div > span:first-of-type {
        margin-bottom: 1em;
        outline: 1px solid blue;
    } */

    .summary > div > span:last-of-type {
        color: hsla(224, 30%, 27%, 0.795);
        font-weight: 700;
        /* outline: 1px solid red; */
    }

    .summary > div > span:last-of-type > strong {
        color: black;
        /* outline: 1px solid red; */
    }

    .summary > div > span > img {
        vertical-align: middle;
        margin-right: .2em;
        /* outline: 1px solid blue; */
    }

    .thunderbolt-bg {
        color: var(--light-red);
        /* background-color: var(--light-slate-blue-bg); */
        /* background-image: linear-gradient(180deg, var(--light-slate-blue-bg) 0%, var(--light-royal-blue-bg) 100%); */
        /* outline: 1px solid blue; */
    }

    .brain-bg {
        color: var(--orangey-yellow);
    }

    .chatbox-bg {
        color: var(--green-teal);
    }

    .visual-bg {
        color: var(--cobalt-blue);
    }

    .row-bg--red {
        background-color: hsla(0, 100%, 67%, 0.103);
    }

    .row-bg--yellow {
        background-color: hsla(39, 100%, 56%, 0.103);
    }

    .row-bg--green {
        background-color: hsla(166, 100%, 37%, 0.103);
    }

    .row-bg--blue {
        background-color: hsla(234, 85%, 45%, 0.103);
    }

    .btn {
        width: 100%;
        padding: .8em 0em;
        margin-top: .5em;
        border-radius: 2em;
        background-color: var(--Dark-gray-blue);
        color: var(--White);
        font-weight: 500;
        font-size: 18px;
        border: none;
        /* outline: 1px solid blue; */
    }

    .btn:hover {
        cursor: pointer;
    }

      .attribution {
        font-size: 14px;
        text-align: center;
        padding: 2em 0em 2em 0em;
        border-radius: 2em 2em 0em 0em;
        background-color: var(--Dark-gray-blue);
        color: #fff;
    }
      .attribution a {
        color: hsl(166, 100%, 49%);
    }

    @media (min-width: 426px) {
        .container{
            display: flex;
            flex-direction: row;
            /* outline: 2px solid black; */
            max-width: 657px;
            margin-inline: auto;
            margin-top: 20vh;
            background-color: #fff;
            border-radius: 2em;
            /* justify-items: center; */
        }

        .container > section {
            padding-bottom: 1em;
        }

        .result {
            width: 50%;
            border-radius: 1.5em;
        }

        .summary {
            width: 50%;
            border-radius: 1.5em;
            box-shadow: 15px 16px 17px -6px rgba(0, 0, 0, 0.14);
            padding-inline: 1em;
        }
    }

    @media (min-width: 541px) {
        .container{
            display: flex;
            flex-direction: row;
            /* outline: 2px solid black; */
            max-width: 609px;
            margin-inline: auto;
            margin-top: 20vh;
            justify-items: center; 
            border-radius: 2em;
            background-color: #fff;
            /* padding-bottom: 1em; */
        }

        .container > section {
            padding-bottom: 1em;
        }

        .result {
            width: 50%;
            border-radius: 1.5em;
        }

        .summary {
            width: 50%;
            border-radius: 0em 1.5em 1.5em 0em;
            /* outline: 1px solid blue; */
            box-shadow: 19px 22px 17px -6px rgba(0, 0, 0, 0.14);
        }
    } 

    @media (min-width: 769px) {
        .container{
            display: flex;
            flex-direction: row;
            /* outline: 2px solid black; */
            max-width: 657px;
            margin-inline: auto;
            margin-top: 20vh;
            justify-items: center; 
            border-radius: 2em;
            background-color: #fff;
            /* padding-bottom: 1em; */
        }

        .container > section {
            padding-bottom: 1em;
        }

        .result {
            width: 50%;
            border-radius: 1.5em;
        }

        .summary {
            width: 50%;
            border-radius: 0em 1.5em 1.5em 0em;
            /* outline: 1px solid blue; */
            box-shadow: 19px 22px 17px -6px rgba(0, 0, 0, 0.14);
        }
    }